{{ template "layout" .}}
{{ define "main"}}

<div class="box-with-shadow">
    <form action="/process" method="post">
        <div class="box-with-shadow">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" placeholder="Nama kamu" required>
        </div>
        <div class="box-with-shadow">
            <label for="message">Pesan</label>
            <input type="text" name="message" id="message" placeholder="Pesan kamu" required>
        </div>
        <div class="box-with-shadow">
            <input type="submit" name="submit" id="submit" value="Kirim">
        </div>
    </form>
</div>

{{ end }}